<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongtao.ebuy.manager.mapper.ContentCategoryExMapper">

    <insert id="insert" parameterType="com.yongtao.ebuy.manager.pojo.ContentCategory">
        <selectKey keyColumn="id" resultType="Long" keyProperty="id" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into content_category (parent_id, name,
        status, sort_order, is_parent,
        created, updated)
        values (#{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, #{isParent,jdbcType=BIT},
        #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
    </insert>

</mapper>